// variabile
$black: #231F1F;
$pink: #F48B7B;
$green: #C6DDCD;
$yellow: #EAC983;
$lila: #C5CADD;
$white: #FFFFFF;

// generale
* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  overflow-x: hidden;
  font-size: 62.5%;
  font-family: 'IBM Plex Sans', sans-serif;
}

section {
  padding: 11.2rem 21.4rem 8.5rem;
  color: $black;
  .logo {
    width: 60vw;
    height: auto;
    padding: 6rem 1rem 3rem;
  }
  .contact-rapid {
    font-weight: bold;
    font-size: 2rem;
    margin-top: 8rem;
    font-family: 'IBM Plex Sans', sans-serif;
  }
}

h1 {
  font-size: 5.6rem;
  letter-spacing: .075rem;
  line-height: 2;
  margin: 0;
  padding: 0;
  margin-left: .3rem;
  position: relative;
  font-family: 'IBM Plex Mono', monospace;
  span {
    padding-bottom: .3rem;
  }
}

h2 {
  font-size: 4.7rem;
  line-height: 1.5;
  font-family: 'IBM Plex Mono', monospace;
  padding-bottom: 6rem;
  span {
    padding-bottom: .3rem;
  }
}

h3 {
  font-size: 2.4rem;
  text-transform: uppercase;
}

h4 {
  font-size: 2.4rem;
  font-family: 'IBM Plex Mono', monospace;
  border-bottom-width: .5rem;
  line-height: 4.5rem;
  border-bottom-style: solid;
  border-bottom-color: $pink;
}

p {
  font-size: 2.4rem;
  line-height: 1.5;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
}




.flexat {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: -1rem;
}

.card {
  padding: 2rem;
  flex: 1;
  margin: 1rem;
  min-width: 250px;
  i {
    display: block;
    text-align: center;
    font-size: 8rem;
    margin: 1rem;
  }
}

.card__pink {
  border: 1px solid lighten($pink, 10);
  i {
    color: lighten($pink, 10);
    filter: drop-shadow(2px 2px 2px darken($pink, 5))
  }
}

.card__green {
  border: 1px solid lighten($green, 10);
  i {
    color: lighten($green, 10);
    filter: drop-shadow(2px 2px 2px darken($green, 5))
  }
}

.card__lila {
  border: 1px solid lighten($lila, 10);
  i {
    color: lighten($lila, 10);
    filter: drop-shadow(2px 2px 2px darken($lila, 5))
  }
}




.underline {
  border-bottom-width: .9rem;
  border-bottom-style: solid;
}

.pink {
  border-bottom-color: $pink;
}

.green {
  border-bottom-color: $green;
}

.yellow {
  border-bottom-color: $yellow;
}

.lila {
  border-bottom-color: $lila;
}

.white {
  border-bottom-color: $white;
}

.cursuri-copii,
.despre-mihaela-ardeleanu {
  background-color: $pink;
}

.activitati-germana {
  background-color: $green;
}

.lista-activitati {
  background-color: $black;
  color: white;
  padding: 11.2rem 21.4rem 8.5rem;
}

.cursuri-adulti {
  background-color: $lila;
}

.traduceri-interpretariat {
  background-color: $yellow;
}



@media (max-width: 1700px) {
  html {
    //font-size: 60%;
  }
  h1 {
    font-size: 4.7rem;
  }
  section {
    padding: 11.2rem 14rem 8.5rem;
  }
}

@media (max-width: 1300px) {
  html {
    //font-size: 55%;
  }
  section {
    padding: 6rem;
  }
  h1 {
    font-size: 3.7rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  html {
    //font-size: 55%;
  }
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 2rem;
  }
  section {
    padding: 3rem;
  }
  p {
    font-size: 1.8rem;
  }
}

