* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  overflow-x: hidden;
  font-size: 62.5%;
  font-family: "IBM Plex Sans", sans-serif;
}

section {
  padding: 11.2rem 21.4rem 8.5rem;
  color: #231F1F;
}
section .logo {
  width: 60vw;
  height: auto;
  padding: 6rem 1rem 3rem;
}
section .contact-rapid {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 8rem;
  font-family: "IBM Plex Sans", sans-serif;
}

h1 {
  font-size: 5.6rem;
  letter-spacing: 0.075rem;
  line-height: 2;
  margin: 0;
  padding: 0;
  margin-left: 0.3rem;
  position: relative;
  font-family: "IBM Plex Mono", monospace;
}
h1 span {
  padding-bottom: 0.3rem;
}

h2 {
  font-size: 4.7rem;
  line-height: 1.5;
  font-family: "IBM Plex Mono", monospace;
  padding-bottom: 6rem;
}
h2 span {
  padding-bottom: 0.3rem;
}

h3 {
  font-size: 2.4rem;
  text-transform: uppercase;
}

h4 {
  font-size: 2.4rem;
  font-family: "IBM Plex Mono", monospace;
  border-bottom-width: 0.5rem;
  line-height: 4.5rem;
  border-bottom-style: solid;
  border-bottom-color: #F48B7B;
}

p {
  font-size: 2.4rem;
  line-height: 1.5;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}

a,
a:visited {
  color: #61606e;
  text-decoration: none;
}

.underline {
  border-bottom-width: 0.9rem;
  border-bottom-style: solid;
}

.pink {
  border-bottom-color: #F48B7B;
}

.green {
  border-bottom-color: #C6DDCD;
}

.yellow {
  border-bottom-color: #EAC983;
}

.lila {
  border-bottom-color: #C5CADD;
}

.white {
  border-bottom-color: #FFFFFF;
}

.cursuri-copii,
.despre-mihaela-ardeleanu {
  background-color: #F48B7B;
}

.activitati-germana {
  background-color: #C6DDCD;
}

.lista-activitati {
  background-color: #231F1F;
  color: white;
  padding: 11.2rem 21.4rem 8.5rem;
}

.cursuri-adulti {
  background-color: #C5CADD;
}

.traduceri-interpretariat {
  background-color: #EAC983;
}

.servicii {
  margin-top: -3rem;
  margin-bottom: 5rem;
}

.cutie-flex {
  display: flex;
  margin: -1rem;
  flex-wrap: wrap;
  align-items: stretch;
}

.card {
  padding: 2rem;
  flex: 1;
  margin: 1rem;
  min-width: 450px;
}
.card i {
  display: block;
  text-align: center;
  font-size: 8rem;
  margin: 1rem;
}

.card__pink {
  border: 1px solid #f8b4aa;
}
.card__pink i {
  color: #f8b4aa;
}

.card__green {
  border: 1px solid #e6f0e9;
}
.card__green i {
  color: #e6f0e9;
}

.card__lila {
  border: 1px solid #e5e7f0;
}
.card__lila i {
  color: #e5e7f0;
}

.card__yellow {
  border: 1px solid #f1dcaf;
}
.card__yellow i {
  color: #f1dcaf;
}

.card__doi {
  flex: 2;
}

.card__trei {
  flex: 3;
}

@media (max-width: 1700px) {
  h1 {
    font-size: 4.7rem;
  }

  section {
    padding: 11.2rem 14rem 8.5rem;
  }

  .card {
    min-width: 425px;
  }
}
@media (max-width: 1300px) {
  section {
    padding: 6rem;
  }

  h1 {
    font-size: 3.7rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  .card {
    min-width: 375px;
  }
}
@media (max-width: 1023px) {
  .cutie-flex {
    display: block;
  }

  .card {
    padding: 0;
    min-width: 10px;
  }

  .card__pink,
.card__lila,
.card__yellow,
.card__green {
    border: none;
  }
  .card__pink i.decor,
.card__lila i.decor,
.card__yellow i.decor,
.card__green i.decor {
    display: none;
  }
}
@media (max-width: 600px) {
  .underline {
    border-bottom-width: 0.6rem;
  }

  section .logo {
    padding-top: 4rem;
    width: 70vw;
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 1.7;
    padding-bottom: 1rem;
  }

  .servicii {
    margin: 0;
  }

  section {
    padding: 3rem;
  }

  p {
    font-size: 1.8rem;
  }

  .card i {
    font-size: 4rem;
  }
}

/*# sourceMappingURL=style.css.map */
