* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  overflow-x: hidden;
  font-size: 62.5%;
  font-family: "IBM Plex Sans", sans-serif;
}

section {
  padding: 11.2rem 21.4rem 8.5rem;
  color: #231F1F;
}
section .logo {
  width: 60vw;
  height: auto;
  padding: 6rem 1rem 3rem;
}
section .contact-rapid {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 8rem;
  font-family: "IBM Plex Sans", sans-serif;
}

h1 {
  font-size: 5.6rem;
  letter-spacing: 0.075rem;
  line-height: 2;
  margin: 0;
  padding: 0;
  margin-left: 0.3rem;
  position: relative;
  font-family: "IBM Plex Mono", monospace;
}
h1 span {
  padding-bottom: 0.3rem;
}

h2 {
  font-size: 4.7rem;
  line-height: 1.5;
  font-family: "IBM Plex Mono", monospace;
  padding-bottom: 6rem;
}
h2 span {
  padding-bottom: 0.3rem;
}

h3 {
  font-size: 2.4rem;
  text-transform: uppercase;
}

h4 {
  font-size: 2.4rem;
  font-family: "IBM Plex Mono", monospace;
  border-bottom-width: 0.5rem;
  line-height: 4.5rem;
  border-bottom-style: solid;
  border-bottom-color: #F48B7B;
}

p {
  font-size: 2.4rem;
  line-height: 1.5;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold;
}

p > em {
  background-color: #231F1F;
  color: #EAC983;
  font-style: normal;
}

.underline {
  border-bottom-width: 0.9rem;
  border-bottom-style: solid;
}

.pink {
  border-bottom-color: #F48B7B;
}

.green {
  border-bottom-color: #C6DDCD;
}

.yellow {
  border-bottom-color: #EAC983;
}

.lila {
  border-bottom-color: #C5CADD;
}

.white {
  border-bottom-color: #FFFFFF;
}

.cursuri-copii,
.despre-mihaela-ardeleanu {
  background-color: #F48B7B;
}

.activitati-germana {
  background-color: #C6DDCD;
}

.lista-activitati {
  background-color: #231F1F;
  color: white;
  padding: 11.2rem 21.4rem 8.5rem;
}

.cursuri-adulti {
  background-color: #C5CADD;
}

.traduceri-interpretariat {
  background-color: #EAC983;
}

.cursuri-copii,
.activitati-germana,
.traduceri-interpretariat,
.despre-mihaela-ardeleanu {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: -1rem;
}

.activitati-germana > .coloana-mare {
  order: 2;
  flex: 3;
}

.despre-mihaela-ardeleanu > .coloana-mare {
  order: 2;
  flex: 2;
}
.despre-mihaela-ardeleanu > .coloana-mare img {
  margin: 0 auto;
}

.coloana-mare {
  flex: 5;
  margin: 1rem;
}

.coloana-mica {
  flex: 4;
  margin: 1rem;
}

.coloana-ascunsa {
  background-color: #FFFFFF;
  margin: 1rem;
  padding: 0.45rem;
  overflow: hidden;
  height: 0.05rem;
}

.detalii {
  order: 3;
}

.detalii > p {
  text-align: right;
  margin: 1rem;
  text-transform: uppercase;
  line-height: 0.5;
  font-size: 2rem;
}

@media (max-width: 1700px) {
  h1 {
    font-size: 4.7rem;
  }

  section {
    padding: 11.2rem 14rem 8.5rem;
  }
}
@media (max-width: 1300px) {
  section {
    padding: 6rem;
  }

  h1 {
    font-size: 3.7rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2rem;
  }
}
@media (max-width: 600px) {
  .underline {
    border-bottom-width: 0.6rem;
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 1.7;
  }

  section {
    padding: 3rem;
  }

  p {
    font-size: 1.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
